:root {
  --md-primary-fg-color:        #5A7520;
  --md-primary-fg-color--light: #BCF443;
  --md-primary-fg-color--dark:  #5A7520;
}

[data-md-color-scheme="slate"] {
  --md-hue: 285;
  --md-default-bg-color:             hsla(var(--md-hue), 15%, 12%, 1);
  --md-default-bg-color--light:      hsla(var(--md-hue), 15%, 12%, 0.54);
  --md-default-bg-color--lighter:    hsla(var(--md-hue), 15%, 12%, 0.26);
  --md-default-bg-color--lightest:   hsla(var(--md-hue), 15%, 12%, 0.07);
}
